@{
    ViewData["Title"] = "Teacher Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin!</h1>
    <p>Use <strong>buttons</strong> to operate in the <strong>system</strong>!</p>
    <img src="/images/logo uniurb.png" height="15%" width="15%" />
    <p> </p>
</div>

<div class="text-center" id="admin-div">
    <br>
    <button id="login-button" asp-area="" asp-controller="Courses" asp-action="Create">Create course</button>
    <button id="login-button" asp-area="" asp-controller="Users" asp-action="Create">Create user</button><br>
    <br>
    <button id="login-button" asp-area="" asp-controller="Courses" asp-action="Delete">Delete course</button>
    <button id="login-button" asp-area="" asp-controller="Users" asp-action="Delete">Delete user</button><br />
    <br>
    <button id="login-button" asp-area="" asp-controller="Courses" asp-action="Details">Details course</button>
    <button id="login-button" asp-area="" asp-controller="Users" asp-action="Details">Details user</button><br />
    <br>
    <button id="login-button" asp-area="" asp-controller="Courses" asp-action="Edit">Edit course</button>
    <button id="login-button" asp-area="" asp-controller="Users" asp-action="Edit">Edit user</button><br />
    <br>
    <button id="login-button" asp-area="" asp-controller="Courses" asp-action="Index">Index course</button>
    <button id="login-button" asp-area="" asp-controller="Users" asp-action="Index">Index user</button><br />
</div>

<div class="text-center">
    <p>Designed by <strong>Antonio Florio</strong>, Rookie: <strong>305872</strong></p>
</div>


