@{
    ViewData["Title"] = "Student Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Student!</h1>
    <p>Use <strong>buttons</strong> to operate in the <strong>system</strong>!</p>
    <img src="/images/logo uniurb.png" height="15%" width="15%" />
    <p> </p>
</div>


<div class="text-center" id="user-table">
    <br />
    <br />
    <br />
    <br />
    <a type="button" id="login-button" asp-area="" asp-controller="Courses" asp-action="Details">Details course</a>    <br />
    <br />
    <a type="button" id="login-button" asp-area="" asp-controller="Courses" asp-action="Index">Index course</a>
    <br />
</div>

<div class="text-center">
    <p>Designed by <strong>Antonio Florio</strong>, Rookie: <strong>305872</strong></p>
</div>


