@{
    ViewData["Title"] = "Teacher Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Teacher!</h1>
    <p>We welcome you to our <strong>dashboard</strong>, please <strong>login</strong> to view more!</p>
    <img src="/images/logo uniurb.png" height="15%" width="15%" />
    <p> </p>
</div>


<div class="text-center" id="login">
    <form>
        <br />
        <label id="login-label">Nickname: </label><p> </p>
        <input id="login-input" type="text" autofocus name="username" required />
        <br />
        <br />
        <label id="login-label">Password:</label><p> </p>
        <input id="login-input" type="password" autofocus name="password" required />
        <br />
        <br />
        <button id="login-button">Login</button>
    </form>
</div>

<div class="text-center">
    <p>Designed by <strong>Antonio Florio</strong>, Rookie: <strong>305872</strong></p>
</div>


