@{
    ViewData["Title"] = "Teacher Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Teacher!</h1>
    <p>Use <strong>buttons</strong> to operate in the <strong>system</strong>!</p>
    <img src="/images/logo uniurb.png" height="15%" width="15%" />
    <p> </p>
</div>

<div class="text-center" id="teacher-div">
    <br>
    <a type="button" id="login-button" asp-area="" asp-controller="Courses" asp-action="Create">Create course</a><br>
    <br>
    <a type="button" id="login-button" asp-area="" asp-controller="Courses" asp-action="Delete">Delete course</a><br />
    <br>
    <a type="button" id="login-button" asp-area="" asp-controller="Courses" asp-action="Details">Details course</a><br />
    <br>
    <a type="button" id="login-button" asp-area="" asp-controller="Courses" asp-action="Edit">Edit course</a><br />
    <br>
    <a type="button" id="login-button" asp-area="" asp-controller="Courses" asp-action="Index">Index course</a><br />
    <br />
    <a type="button" id="login-button" asp-area="" asp-controller="Users" asp-action="Index">Index user</a><br />
</div>

<div class="text-center">
    <p>Designed by <strong>Antonio Florio</strong>, Rookie: <strong>305872</strong></p>
</div>


