@{
    ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome User!</h1>
    <p>We welcome you to our <strong>dashboard</strong></p>
    <p>In the <strong>table</strong> below, the <strong>exams</strong> and their <strong>dates</strong> are shown!</p>
    <img src="/images/logo uniurb.png" height="15%" width="15%" />
    <p> </p>
</div>


<div class="text-center" id="user-table">

</div>

<div class="text-center">
    <p>Designed by <strong>Antonio Florio</strong>, Rookie: <strong>305872</strong></p>
</div>


